# Compiler files
cache/
out/

# Dependencies
node_modules/
lib/

# Broadcast logs (deployment artifacts)
broadcast/

# Docs (sensitive/private)
docs/
doc/
Doc Guide/

# Dotenv file
.env

# Library/Backend
Backend/
backendprd/

# Misc
gitbook.zip